.boxContainer {
    width:23%;
    margin: 1%;
}

.foodBox {
    width: 100%;
    border: 2px solid #3B7080;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.namePrice, .description {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name {
    font-weight: 600;
}

.cost {
    font-weight: 600;
}

.buttonsDiv {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.input {
    width: 90%;
    outline: none;
}

.deleteEdit {
    width: 40%;
    border: 1px solid #3B7080;
    cursor: pointer;
}

.deleteEdit:hover {
    background-color: #3B7080;
    color: #fff;
}

.saveButton {
    width: 100%;
    border: 1px solid #3B7080;
    margin-top: 3%;
}

.saveButton:hover {
    background-color: #3B7080;
    color: #fff;
    cursor: pointer;
}