.headerContainer {
    background-color: #3B7080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #3B7080;
    height: 4.5rem;
    z-index: 5;
}

.homeLogo {
    display: flex;
    margin-left: 1%;
    
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
    text-decoration: none;
}
.logo:hover {
    color: #fff;
}

.buttonsContainer {
    margin-right: 1%;
    display: flex;
    gap: 1%;
}

.button {
    font-weight: bold;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: #3B7080;
    color: orange;
    cursor: pointer;
}
.button:hover {
    color: #fff
}

.homeButton {
    font-weight: bold;
    width: 12rem;
    height: 4rem;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #3B7080;
    color: orange;
    cursor: pointer;
}

.homeButton:hover {
    color: #fff
}