.itemContainer{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    margin-top: 12px;
    width: 90%;
}

.button{
    background-color: #ADE25D;
    width: 90%;
    height: 50px;
    font-size: 28px;
    padding: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.total{
  margin: 0px;
  font-size: 24px;
  font-weight: normal;
}
