.itemContainer{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    background-color: #3B7080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
}

.innerContainer{
    margin-top: 3%;
    width: 90%;
    margin-bottom: 3%;
}

.button{
    background-color: orange;
    color: #3B7080;
    width: 90%;
    height: 50px;
    font-size: 28px;
    padding: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: #fff;
}

.total{
  margin: 0px;
  font-size: 24px;
  font-weight: normal;
}

.paymentContainer {
    position: absolute;
    right: 0;
    bottom: 2%;
    width: 25%;
    padding: 1%;
    background-color: #3B7080;
    transition: all 1s ease-in-out;
}

.paymentInfo {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 0;
}

.closePaymentButton {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #3B7080;
    background-color: orange;
    color: #3B7080;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-left: none;
    border-top: none;
}
.closePaymentButton:hover {
    color: #fff;
}

.paymentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.paymentInput {
    margin: 1%;
    height: 2rem;
    outline: none;
}

.payButton {
    width: 98%;
    margin-left: 1%;
    height: 2rem;
    color: #3B7080;
    background-color: orange;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #3b7080;
    cursor: pointer;
}

.payButton:hover {
    background-color: #3b7080;
    color: orange;
    border: 2px solid orange;
}