.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32rem;
    height: 32rem;
    border: 2px solid #3B7080;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    z-index: 2;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.input {
    margin-left: 4%;
    margin-top: 5%;
    width: 90%;
    height: 15%;
    font-size: 18px;
    border: 1px solid #3b7080;
    outline: none;
}

.name {
    width: 48%;
    border: 1px solid #3b7080;
    outline: none;
}

.city {
    width: 60%;
    border: 1px solid #3b7080;
    outline: none;
}

.zip {
    width: 36%;
    border: 1px solid #3b7080;
    outline: none;
}

.container {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    width: 90%;
    height: 15%;
    justify-content: space-between;
}

.login {
    border-radius: 30px;
    border: 1px solid #3B7080;
    background-color: #fff;
    width: 48%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: orange;
}
.login:hover {
    border: 1px solid orange;
    color: #3b7080;
}

.register {
    border-radius: 30px;
    border: 1px solid #3B7080;
    background-color: #3B7080;
    color: orange;
    width: 48%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}
.register:hover {
    color: #fff;
}

.label {
    font-size: 20px;
}

.isManager {
    margin-top: 6%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: -2%;
}

.error {
    position: absolute;
    bottom: -2%;
    color: red;
    font-size: 24px;
    margin-top: 4%;
    align-self: center;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.closeButton {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: 1px solid #3B7080;
    background-color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-top: none;
    border-right: none;
    background-color: orange;
    color: #3B7080;
}
.closeButton:hover {
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}