.topBar { 
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    height: 3rem;
    align-items: center;
}

.statusText {
    font-size: 2rem;
    margin: 1%;
}

.buttonsContainer { 
    display: flex;
}


.selectRestaurant {
    margin-right: 5%;
}

.fieldsContainer {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.received {
    width: 24.5%;
    border: 2px solid #3b7080;
    background-color: #fff;
}

.accepted {
    width: 24.5%;
    border: 2px solid #3b7080;
    background-color: #fff;
}

.inDelivery {
    width: 24.5%;
    border: 2px solid #3b7080;
    background-color: #fff;
}

.closed {
    width: 24.5%;
    border: 2px solid #3b7080;
    background-color: #fff;
}

.fieldName {
    text-align: center;
    font-size: 1.5rem;
}