.editContainer {
    width: 94%;
    position: relative;
    border: 2px solid #3B7080;
    left: 3%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.separateEdits {
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.inputField {
    width: 90%;
    height: 1.5rem;
    margin: 1%;
    outline: none;
}

.hoursPrice {
    margin-top: 1%;
    width: 100%;
    display: flex;
    margin-left: 1%;
    margin-bottom: 1%;
}


.hours {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-right: 6%;
}

.inputFieldHours {
    width: 100%;
    height: 1.5rem;
}

.priceLevel {
    width: 48%;
    height: 1.5rem;
}

.price {
    margin-left: 1%;
    width: 50%;
    display: flex;
    width: 100%;
    height: 1.5rem;
    flex-direction: row;
}

.saveChanges {
    width: 92%;
    margin: 1%;
    margin-top: 6%;
    height: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.priceLevels {
    display: flex;
    flex-direction: column;
}

.fieldName {
    margin-bottom: 1%;
    font-weight: 600;
}

.fieldValue {
    margin-bottom: 3.1%;
}

@media ( min-aspect-ratio: 16/8 ) {
    .fieldValue {
        margin-bottom: 2.65%
    }
}